Importing libraries

In [ ]:
import pandas as pd
import seaborn as sns
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

Loading IRIS dataset

In [ ]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

Removing duplicate records from dataset

In [ ]:
df = df.drop_duplicates()
df.shape

(149, 5)

Storing class values in a new variable

In [ ]:
y = df['species']
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 149, dtype: object

copying the data into other dataframe df1

In [ ]:
df1 = df.drop(['species'], axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  149 non-null    float64
 1   sepal_width   149 non-null    float64
 2   petal_length  149 non-null    float64
 3   petal_width   149 non-null    float64
dtypes: float64(4)
memory usage: 5.8 KB

Splitting the data into training and testing data

In [ ]:
X_train, X_test, Y_train ,Y_test  = train_test_split(df1, y, test_size=0.25)
X_train.shape, Y_train.shape, X_test.shape,Y_test.shape

((111, 4), (111,), (38, 4), (38,))

Training the model

In [ ]:
tree = DecisionTreeClassifier()
tree_model = tree.fit(X_train, Y_train)

Predicting values using trained model

In [ ]:
y_pred = tree.predict(X_test)
print(y_pred)

['versicolor' 'setosa' 'versicolor' 'setosa' 'versicolor' 'versicolor'
 'virginica' 'setosa' 'virginica' 'setosa' 'versicolor' 'versicolor'
 'versicolor' 'versicolor' 'versicolor' 'virginica' 'versicolor'
 'virginica' 'versicolor' 'versicolor' 'versicolor' 'virginica' 'setosa'
 'versicolor' 'setosa' 'virginica' 'versicolor' 'versicolor' 'setosa'
 'virginica' 'virginica' 'setosa' 'virginica' 'setosa' 'virginica'
 'virginica' 'virginica' 'versicolor']

Analyzing the performance of model

In [ ]:
print('Confusion Matrix:')
print(confusion_matrix(Y_test, y_pred))

Confusion Matrix:
[[ 9  0  0]
 [ 0 16  1]
 [ 0  1 11]]

In [ ]:
print('Classification Report:\n', classification_report(Y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

      setosa       1.00      1.00      1.00         9
  versicolor       0.94      0.94      0.94        17
   virginica       0.92      0.92      0.92        12

    accuracy                           0.95        38
   macro avg       0.95      0.95      0.95        38
weighted avg       0.95      0.95      0.95        38