# **Discritization & Binning Method**

###**Convert Nominal Attributes to Dummy Variables**

Importing required libraries

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('weather.csv')
df

     outlook  temperature  humidity  windy play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        86  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
5      rainy           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13     rainy           71        91   True   no

Converting windy attribute to dummy variable

In [ ]:
windy_true = []
windy_false = []
for val in df['windy']:
    if val:
        windy_true.append(1) # assigning value 1 if atmostphere is windy
        windy_false.append(0)
    else:
        windy_true.append(0) # assigning value 0 if atmostphere is not windy
        windy_false.append(1)
print(windy_true)
print(windy_false)

[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1]
[1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0]

Converting outlook attribute to dummy variable

In [ ]:
outlook_sunny = []
outlook_overcast = []
outlook_rainy = []
outlook_num = []
for val in df['outlook']:
    if val == 'sunny':
        outlook_sunny.append(1)
        outlook_overcast.append(0)
        outlook_rainy.append(0)
        outlook_num.append(1)
    elif val == 'overcast':
        outlook_sunny.append(0)
        outlook_overcast.append(1)
        outlook_rainy.append(0)
        outlook_num.append(2) 
    else:
        outlook_sunny.append(0)
        outlook_overcast.append(0)
        outlook_rainy.append(1)
        outlook_num.append(3)
print(outlook_sunny)
print(outlook_overcast)
print(outlook_rainy)
print(outlook_num)

[1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0]
[0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0]
[0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1]
[1, 1, 2, 3, 3, 3, 2, 1, 1, 3, 1, 2, 2, 3]

Converting play attribute to dummy variable

In [ ]:
play_true = []
play_false = []
for val in df['play']:
    if val == 'yes':
        play_true.append(1)
        play_false.append(0)
    else:
        play_true.append(0)
        play_false.append(1)
print(play_true)
print(play_false)

[0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0]
[1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1]

In [ ]:
df['windy_false'] = windy_false
df['windy_true'] = windy_true
df['sunny'] = outlook_sunny
df['overcast'] = outlook_overcast
df['rainy'] = outlook_rainy
df['outlook_num'] = outlook_num
df['play_yes'] = play_true
df['play_no'] = play_false

In [ ]:
df = df.drop(['outlook', 'windy', 'play'], axis=1)
df

    temperature  humidity  windy_false  ...  outlook_num  play_yes  play_no
0            85        85            1  ...            1         0        1
1            80        90            0  ...            1         0        1
2            83        86            1  ...            2         1        0
3            70        96            1  ...            3         1        0
4            68        80            1  ...            3         1        0
5            65        70            0  ...            3         0        1
6            64        65            0  ...            2         1        0
7            72        95            1  ...            1         0        1
8            69        70            1  ...            1         1        0
9            75        80            1  ...            3         1        0
10           75        70            0  ...            1         1        0
11           72        90            0  ...            2         1        0
12           81        75            1  ...            2         1        0
13           71        91            0  ...            3         0        1

[14 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  14 non-null     int64
 1   humidity     14 non-null     int64
 2   windy_false  14 non-null     int64
 3   windy_true   14 non-null     int64
 4   sunny        14 non-null     int64
 5   overcast     14 non-null     int64
 6   rainy        14 non-null     int64
 7   outlook_num  14 non-null     int64
 8   play_yes     14 non-null     int64
 9   play_no      14 non-null     int64
dtypes: int64(10)
memory usage: 1.2 KB

###**Binning Method**

In [ ]:
import numpy as np

In [ ]:
df1 = pd.read_csv('diabetes.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   preg    768 non-null    int64
 1   plas    768 non-null    int64
 2   pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   insu    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [ ]:
df1.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

Implementing binning method

Applying binning on mass attribute

In [ ]:
val = np.array(df1['mass'])
print(val)

[33.6 26.6 23.3 28.1 43.1 25.6 31.  35.3 30.5 30.  37.6 38.  27.1 30.1
 25.8 30.  45.8 29.6 43.3 34.6 39.3 35.4 39.8 29.  36.6 31.1 39.4 23.2
 22.2 34.1 36.  31.6 24.8 19.9 27.6 24.  33.2 32.9 38.2 37.1 34.  40.2
 22.7 45.4 27.4 42.  29.7 28.  39.1 30.  19.4 24.2 24.4 33.7 34.7 23.
 37.7 46.8 40.5 41.5 30.  32.9 25.  25.4 32.8 29.  32.5 42.7 19.6 28.9
 32.9 28.6 43.4 35.1 32.  24.7 32.6 37.7 43.2 25.  22.4 30.  29.3 24.6
 48.8 32.4 36.6 38.5 37.1 26.5 19.1 32.  46.7 23.8 24.7 33.9 31.6 20.4
 28.7 49.7 39.  26.1 22.5 26.6 39.6 28.7 22.4 29.5 34.3 37.4 33.3 34.
 31.2 34.  30.5 31.2 34.  33.7 28.2 23.2 53.2 34.2 33.6 26.8 33.3 55.
 42.9 33.3 34.5 27.9 29.7 33.3 34.5 38.3 21.1 33.8 30.8 28.7 31.2 36.9
 21.1 39.5 32.5 32.4 32.8 30.  32.8 30.5 33.7 27.3 37.4 21.9 34.3 40.6
 47.9 50.  24.6 25.2 29.  40.9 29.7 37.2 44.2 29.7 31.6 29.9 32.5 29.6
 31.9 28.4 30.8 35.4 28.9 43.5 29.7 32.7 31.2 67.1 45.  39.1 23.2 34.9
 27.7 26.8 27.6 35.9 30.1 32.  27.9 31.6 22.6 33.1 30.4 52.3 24.4 39.4
 24.3 22.9 34.8 30.9 31.  40.1 27.3 20.4 37.7 23.9 37.5 37.7 33.2 35.5
 27.7 42.8 34.2 42.6 34.2 41.8 35.8 30.  29.  37.8 34.6 31.6 25.2 28.8
 23.6 34.6 35.7 37.2 36.7 45.2 44.  46.2 25.4 35.  29.7 43.6 35.9 44.1
 30.8 18.4 29.2 33.1 25.6 27.1 38.2 30.  31.2 52.3 35.4 30.1 31.2 28.
 24.4 35.8 27.6 33.6 30.1 28.7 25.9 33.3 30.9 30.  32.1 32.4 32.  33.6
 36.3 40.  25.1 27.5 45.6 25.2 23.  33.2 34.2 40.5 26.5 27.8 24.9 25.3
 37.9 35.9 32.4 30.4 27.  26.  38.7 45.6 20.8 36.1 36.9 36.6 43.3 40.5
 21.9 35.5 28.  30.7 36.6 23.6 32.3 31.6 35.8 52.9 21.  39.7 25.5 24.8
 30.5 32.9 26.2 39.4 26.6 29.5 35.9 34.1 19.3 30.5 38.1 23.5 27.5 31.6
 27.4 26.8 35.7 25.6 35.1 35.1 45.5 30.8 23.1 32.7 43.3 23.6 23.9 47.9
 33.8 31.2 34.2 39.9 25.9 25.9 32.  34.7 36.8 38.5 28.7 23.5 21.8 41.
 42.2 31.2 34.4 27.2 42.7 30.4 33.3 39.9 35.3 36.5 31.2 29.8 39.2 38.5
 34.9 34.  27.6 21.  27.5 32.8 38.4 30.  35.8 34.9 36.2 39.2 25.2 37.2
 48.3 43.4 30.8 20.  25.4 25.1 24.3 22.3 32.3 43.3 32.  31.6 32.  45.7
 23.7 22.1 32.9 27.7 24.7 34.3 21.1 34.9 32.  24.2 35.  31.6 32.9 42.1
 28.9 21.9 25.9 42.4 35.7 34.4 42.4 26.2 34.6 35.7 27.2 38.5 18.2 26.4
 45.3 26.  40.6 30.8 42.9 37.  30.  34.1 40.6 35.  22.2 30.4 30.  25.6
 24.5 42.4 37.4 29.9 18.2 36.8 34.3 32.2 33.2 30.5 29.7 59.4 25.3 36.5
 33.6 30.5 21.2 28.9 39.9 19.6 37.8 33.6 26.7 30.2 37.6 25.9 20.8 21.8
 35.3 27.6 24.  21.8 27.8 36.8 30.  46.1 41.3 33.2 38.8 29.9 28.9 27.3
 33.7 23.8 25.9 28.  35.5 35.2 27.8 38.2 44.2 42.3 40.7 46.5 25.6 26.1
 36.8 33.5 32.8 28.9 30.  26.6 26.  30.1 25.1 29.3 25.2 37.2 39.  33.3
 37.3 33.3 36.5 28.6 30.4 25.  29.7 22.1 24.2 27.3 25.6 31.6 30.3 37.6
 32.8 19.6 25.  33.2 30.  34.2 31.6 21.8 18.2 26.3 30.8 24.6 29.8 45.3
 41.3 29.8 33.3 32.9 29.6 21.7 36.3 36.4 39.4 32.4 34.9 39.5 32.  34.5
 43.6 33.1 32.8 28.5 27.4 31.9 27.8 29.9 36.9 25.5 38.1 27.8 46.2 30.1
 33.8 41.3 37.6 26.9 32.4 26.1 38.6 32.  31.3 34.3 32.5 22.6 29.5 34.7
 30.1 35.5 24.  42.9 27.  34.7 42.1 25.  26.5 38.7 28.7 22.5 34.9 24.3
 33.3 21.1 46.8 39.4 34.4 28.5 33.6 32.  45.3 27.8 36.8 23.1 27.1 23.7
 27.8 35.2 28.4 35.8 40.  19.5 41.5 24.  30.9 32.9 38.2 32.5 36.1 25.8
 28.7 20.1 28.2 32.4 38.4 24.2 40.8 43.5 30.8 37.7 24.7 32.4 34.6 24.7
 27.4 34.5 26.2 27.5 25.9 31.2 28.8 31.6 40.9 19.5 29.3 34.3 29.5 28.
 27.6 39.4 23.4 37.8 28.3 26.4 25.2 33.8 34.1 26.8 34.2 38.7 21.8 38.9
 39.  34.2 27.7 42.9 37.6 37.9 33.7 34.8 32.5 27.5 34.  30.9 33.6 25.4
 35.5 57.3 35.6 30.9 24.8 35.3 36.  24.2 24.2 49.6 44.6 32.3 30.  33.2
 23.1 28.3 24.1 46.1 24.6 42.3 39.1 38.5 23.5 30.4 29.9 25.  34.5 44.5
 35.9 27.6 35.  38.5 28.4 39.8 30.  34.4 32.8 38.  31.2 29.6 41.2 26.4
 29.5 33.9 33.8 23.1 35.5 35.6 29.3 38.1 29.3 39.1 32.8 39.4 36.1 32.4
 22.9 30.1 28.4 28.4 44.5 29.  23.3 35.4 27.4 32.  36.6 39.5 42.3 30.8
 28.5 32.7 40.6 30.  49.3 46.3 36.4 24.3 31.2 39.  26.  43.3 32.4 36.5
 32.  36.3 37.5 35.5 28.4 44.  22.5 32.9 36.8 26.2 30.1 30.4]

In [ ]:
val.sort()
print(val)

[18.2 18.2 18.2 18.4 19.1 19.3 19.4 19.5 19.5 19.6 19.6 19.6 19.9 20.
 20.1 20.4 20.4 20.8 20.8 21.  21.  21.1 21.1 21.1 21.1 21.2 21.7 21.8
 21.8 21.8 21.8 21.8 21.9 21.9 21.9 22.1 22.1 22.2 22.2 22.3 22.4 22.4
 22.5 22.5 22.5 22.6 22.6 22.7 22.9 22.9 23.  23.  23.1 23.1 23.1 23.1
 23.2 23.2 23.2 23.3 23.3 23.4 23.5 23.5 23.5 23.6 23.6 23.6 23.7 23.7
 23.8 23.8 23.9 23.9 24.  24.  24.  24.  24.1 24.2 24.2 24.2 24.2 24.2
 24.2 24.3 24.3 24.3 24.3 24.4 24.4 24.4 24.5 24.6 24.6 24.6 24.6 24.7
 24.7 24.7 24.7 24.7 24.8 24.8 24.8 24.9 25.  25.  25.  25.  25.  25.
 25.1 25.1 25.1 25.2 25.2 25.2 25.2 25.2 25.2 25.3 25.3 25.4 25.4 25.4
 25.4 25.5 25.5 25.6 25.6 25.6 25.6 25.6 25.6 25.8 25.8 25.9 25.9 25.9
 25.9 25.9 25.9 25.9 26.  26.  26.  26.  26.1 26.1 26.1 26.2 26.2 26.2
 26.2 26.3 26.4 26.4 26.4 26.5 26.5 26.5 26.6 26.6 26.6 26.6 26.7 26.8
 26.8 26.8 26.8 26.9 27.  27.  27.1 27.1 27.1 27.2 27.2 27.3 27.3 27.3
 27.3 27.4 27.4 27.4 27.4 27.4 27.5 27.5 27.5 27.5 27.5 27.6 27.6 27.6
 27.6 27.6 27.6 27.6 27.7 27.7 27.7 27.7 27.8 27.8 27.8 27.8 27.8 27.8
 27.8 27.9 27.9 28.  28.  28.  28.  28.  28.1 28.2 28.2 28.3 28.3 28.4
 28.4 28.4 28.4 28.4 28.4 28.5 28.5 28.5 28.6 28.6 28.7 28.7 28.7 28.7
 28.7 28.7 28.7 28.8 28.8 28.9 28.9 28.9 28.9 28.9 28.9 29.  29.  29.
 29.  29.  29.2 29.3 29.3 29.3 29.3 29.3 29.5 29.5 29.5 29.5 29.5 29.6
 29.6 29.6 29.6 29.7 29.7 29.7 29.7 29.7 29.7 29.7 29.7 29.8 29.8 29.8
 29.9 29.9 29.9 29.9 29.9 30.  30.  30.  30.  30.  30.  30.  30.  30.
 30.  30.  30.  30.  30.  30.  30.  30.  30.  30.1 30.1 30.1 30.1 30.1
 30.1 30.1 30.1 30.1 30.2 30.3 30.4 30.4 30.4 30.4 30.4 30.4 30.4 30.5
 30.5 30.5 30.5 30.5 30.5 30.5 30.7 30.8 30.8 30.8 30.8 30.8 30.8 30.8
 30.8 30.8 30.9 30.9 30.9 30.9 30.9 31.  31.  31.1 31.2 31.2 31.2 31.2
 31.2 31.2 31.2 31.2 31.2 31.2 31.2 31.2 31.3 31.6 31.6 31.6 31.6 31.6
 31.6 31.6 31.6 31.6 31.6 31.6 31.6 31.9 31.9 32.  32.  32.  32.  32.
 32.  32.  32.  32.  32.  32.  32.  32.  32.1 32.2 32.3 32.3 32.3 32.4
 32.4 32.4 32.4 32.4 32.4 32.4 32.4 32.4 32.4 32.5 32.5 32.5 32.5 32.5
 32.5 32.6 32.7 32.7 32.7 32.8 32.8 32.8 32.8 32.8 32.8 32.8 32.8 32.8
 32.9 32.9 32.9 32.9 32.9 32.9 32.9 32.9 32.9 33.1 33.1 33.1 33.2 33.2
 33.2 33.2 33.2 33.2 33.2 33.3 33.3 33.3 33.3 33.3 33.3 33.3 33.3 33.3
 33.3 33.5 33.6 33.6 33.6 33.6 33.6 33.6 33.6 33.6 33.7 33.7 33.7 33.7
 33.7 33.8 33.8 33.8 33.8 33.8 33.9 33.9 34.  34.  34.  34.  34.  34.
 34.1 34.1 34.1 34.1 34.2 34.2 34.2 34.2 34.2 34.2 34.2 34.2 34.3 34.3
 34.3 34.3 34.3 34.3 34.4 34.4 34.4 34.4 34.5 34.5 34.5 34.5 34.5 34.6
 34.6 34.6 34.6 34.6 34.7 34.7 34.7 34.7 34.8 34.8 34.9 34.9 34.9 34.9
 34.9 34.9 35.  35.  35.  35.  35.1 35.1 35.1 35.2 35.2 35.3 35.3 35.3
 35.3 35.4 35.4 35.4 35.4 35.5 35.5 35.5 35.5 35.5 35.5 35.5 35.6 35.6
 35.7 35.7 35.7 35.7 35.8 35.8 35.8 35.8 35.8 35.9 35.9 35.9 35.9 35.9
 36.  36.  36.1 36.1 36.1 36.2 36.3 36.3 36.3 36.4 36.4 36.5 36.5 36.5
 36.5 36.6 36.6 36.6 36.6 36.6 36.7 36.8 36.8 36.8 36.8 36.8 36.8 36.9
 36.9 36.9 37.  37.1 37.1 37.2 37.2 37.2 37.2 37.3 37.4 37.4 37.4 37.5
 37.5 37.6 37.6 37.6 37.6 37.6 37.7 37.7 37.7 37.7 37.7 37.8 37.8 37.8
 37.9 37.9 38.  38.  38.1 38.1 38.1 38.2 38.2 38.2 38.2 38.3 38.4 38.4
 38.5 38.5 38.5 38.5 38.5 38.5 38.6 38.7 38.7 38.7 38.8 38.9 39.  39.
 39.  39.  39.1 39.1 39.1 39.1 39.2 39.2 39.3 39.4 39.4 39.4 39.4 39.4
 39.4 39.4 39.5 39.5 39.5 39.6 39.7 39.8 39.8 39.9 39.9 39.9 40.  40.
 40.1 40.2 40.5 40.5 40.5 40.6 40.6 40.6 40.6 40.7 40.8 40.9 40.9 41.
 41.2 41.3 41.3 41.3 41.5 41.5 41.8 42.  42.1 42.1 42.2 42.3 42.3 42.3
 42.4 42.4 42.4 42.6 42.7 42.7 42.8 42.9 42.9 42.9 42.9 43.1 43.2 43.3
 43.3 43.3 43.3 43.3 43.4 43.4 43.5 43.5 43.6 43.6 44.  44.  44.1 44.2
 44.2 44.5 44.5 44.6 45.  45.2 45.3 45.3 45.3 45.4 45.5 45.6 45.6 45.7
 45.8 46.1 46.1 46.2 46.2 46.3 46.5 46.7 46.8 46.8 47.9 47.9 48.3 48.8
 49.3 49.6 49.7 50.  52.3 52.3 52.9 53.2 55.  57.3 59.4 67.1]

Initializing bins

In [ ]:
bin_size = 8
bin = np.zeros((int(len(val)/bin_size), bin_size))
bin.shape

(96, 8)

In [ ]:
for i in range(0,len(val),bin_size):
    sum=0
    for j in range(bin_size):
        sum = sum + val[j+i]
    avg = sum/bin_size
    for j in range(bin_size):
        bin[int(i/bin_size), j] = avg
print(bin.shape)

(96, 8)

In [ ]:
print(bin)

[[18.7875 18.7875 18.7875 18.7875 18.7875 18.7875 18.7875 18.7875]
 [19.8375 19.8375 19.8375 19.8375 19.8375 19.8375 19.8375 19.8375]
 [20.9125 20.9125 20.9125 20.9125 20.9125 20.9125 20.9125 20.9125]
 [21.625  21.625  21.625  21.625  21.625  21.625  21.625  21.625 ]
 [22.075  22.075  22.075  22.075  22.075  22.075  22.075  22.075 ]
 [22.525  22.525  22.525  22.525  22.525  22.525  22.525  22.525 ]
 [23.025  23.025  23.025  23.025  23.025  23.025  23.025  23.025 ]
 [23.325  23.325  23.325  23.325  23.325  23.325  23.325  23.325 ]
 [23.6625 23.6625 23.6625 23.6625 23.6625 23.6625 23.6625 23.6625]
 [24.0125 24.0125 24.0125 24.0125 24.0125 24.0125 24.0125 24.0125]
 [24.2375 24.2375 24.2375 24.2375 24.2375 24.2375 24.2375 24.2375]
 [24.475  24.475  24.475  24.475  24.475  24.475  24.475  24.475 ]
 [24.7125 24.7125 24.7125 24.7125 24.7125 24.7125 24.7125 24.7125]
 [24.9625 24.9625 24.9625 24.9625 24.9625 24.9625 24.9625 24.9625]
 [25.1625 25.1625 25.1625 25.1625 25.1625 25.1625 25.1625 25.1625]
 [25.3625 25.3625 25.3625 25.3625 25.3625 25.3625 25.3625 25.3625]
 [25.6125 25.6125 25.6125 25.6125 25.6125 25.6125 25.6125 25.6125]
 [25.8875 25.8875 25.8875 25.8875 25.8875 25.8875 25.8875 25.8875]
 [26.0625 26.0625 26.0625 26.0625 26.0625 26.0625 26.0625 26.0625]
 [26.325  26.325  26.325  26.325  26.325  26.325  26.325  26.325 ]
 [26.6125 26.6125 26.6125 26.6125 26.6125 26.6125 26.6125 26.6125]
 [26.9375 26.9375 26.9375 26.9375 26.9375 26.9375 26.9375 26.9375]
 [27.2625 27.2625 27.2625 27.2625 27.2625 27.2625 27.2625 27.2625]
 [27.45   27.45   27.45   27.45   27.45   27.45   27.45   27.45  ]
 [27.5875 27.5875 27.5875 27.5875 27.5875 27.5875 27.5875 27.5875]
 [27.75   27.75   27.75   27.75   27.75   27.75   27.75   27.75  ]
 [27.9    27.9    27.9    27.9    27.9    27.9    27.9    27.9   ]
 [28.1875 28.1875 28.1875 28.1875 28.1875 28.1875 28.1875 28.1875]
 [28.4375 28.4375 28.4375 28.4375 28.4375 28.4375 28.4375 28.4375]
 [28.675  28.675  28.675  28.675  28.675  28.675  28.675  28.675 ]
 [28.85   28.85   28.85   28.85   28.85   28.85   28.85   28.85  ]
 [29.05   29.05   29.05   29.05   29.05   29.05   29.05   29.05  ]
 [29.4    29.4    29.4    29.4    29.4    29.4    29.4    29.4   ]
 [29.625  29.625  29.625  29.625  29.625  29.625  29.625  29.625 ]
 [29.7375 29.7375 29.7375 29.7375 29.7375 29.7375 29.7375 29.7375]
 [29.9375 29.9375 29.9375 29.9375 29.9375 29.9375 29.9375 29.9375]
 [30.     30.     30.     30.     30.     30.     30.     30.    ]
 [30.0125 30.0125 30.0125 30.0125 30.0125 30.0125 30.0125 30.0125]
 [30.1    30.1    30.1    30.1    30.1    30.1    30.1    30.1   ]
 [30.3625 30.3625 30.3625 30.3625 30.3625 30.3625 30.3625 30.3625]
 [30.4875 30.4875 30.4875 30.4875 30.4875 30.4875 30.4875 30.4875]
 [30.7875 30.7875 30.7875 30.7875 30.7875 30.7875 30.7875 30.7875]
 [30.8875 30.8875 30.8875 30.8875 30.8875 30.8875 30.8875 30.8875]
 [31.1625 31.1625 31.1625 31.1625 31.1625 31.1625 31.1625 31.1625]
 [31.2625 31.2625 31.2625 31.2625 31.2625 31.2625 31.2625 31.2625]
 [31.6    31.6    31.6    31.6    31.6    31.6    31.6    31.6   ]
 [31.825  31.825  31.825  31.825  31.825  31.825  31.825  31.825 ]
 [32.     32.     32.     32.     32.     32.     32.     32.    ]
 [32.2    32.2    32.2    32.2    32.2    32.2    32.2    32.2   ]
 [32.4    32.4    32.4    32.4    32.4    32.4    32.4    32.4   ]
 [32.5    32.5    32.5    32.5    32.5    32.5    32.5    32.5   ]
 [32.7625 32.7625 32.7625 32.7625 32.7625 32.7625 32.7625 32.7625]
 [32.85   32.85   32.85   32.85   32.85   32.85   32.85   32.85  ]
 [32.975  32.975  32.975  32.975  32.975  32.975  32.975  32.975 ]
 [33.2125 33.2125 33.2125 33.2125 33.2125 33.2125 33.2125 33.2125]
 [33.3    33.3    33.3    33.3    33.3    33.3    33.3    33.3   ]
 [33.55   33.55   33.55   33.55   33.55   33.55   33.55   33.55  ]
 [33.6875 33.6875 33.6875 33.6875 33.6875 33.6875 33.6875 33.6875]
 [33.875  33.875  33.875  33.875  33.875  33.875  33.875  33.875 ]
 [34.05   34.05   34.05   34.05   34.05   34.05   34.05   34.05  ]
 [34.2    34.2    34.2    34.2    34.2    34.2    34.2    34.2   ]
 [34.325  34.325  34.325  34.325  34.325  34.325  34.325  34.325 ]
 [34.4875 34.4875 34.4875 34.4875 34.4875 34.4875 34.4875 34.4875]
 [34.65   34.65   34.65   34.65   34.65   34.65   34.65   34.65  ]
 [34.875  34.875  34.875  34.875  34.875  34.875  34.875  34.875 ]
 [35.0625 35.0625 35.0625 35.0625 35.0625 35.0625 35.0625 35.0625]
 [35.325  35.325  35.325  35.325  35.325  35.325  35.325  35.325 ]
 [35.4875 35.4875 35.4875 35.4875 35.4875 35.4875 35.4875 35.4875]
 [35.7    35.7    35.7    35.7    35.7    35.7    35.7    35.7   ]
 [35.8625 35.8625 35.8625 35.8625 35.8625 35.8625 35.8625 35.8625]
 [36.1375 36.1375 36.1375 36.1375 36.1375 36.1375 36.1375 36.1375]
 [36.4625 36.4625 36.4625 36.4625 36.4625 36.4625 36.4625 36.4625]
 [36.6875 36.6875 36.6875 36.6875 36.6875 36.6875 36.6875 36.6875]
 [36.9    36.9    36.9    36.9    36.9    36.9    36.9    36.9   ]
 [37.25   37.25   37.25   37.25   37.25   37.25   37.25   37.25  ]
 [37.55   37.55   37.55   37.55   37.55   37.55   37.55   37.55  ]
 [37.7375 37.7375 37.7375 37.7375 37.7375 37.7375 37.7375 37.7375]
 [38.0375 38.0375 38.0375 38.0375 38.0375 38.0375 38.0375 38.0375]
 [38.3375 38.3375 38.3375 38.3375 38.3375 38.3375 38.3375 38.3375]
 [38.5875 38.5875 38.5875 38.5875 38.5875 38.5875 38.5875 38.5875]
 [38.9875 38.9875 38.9875 38.9875 38.9875 38.9875 38.9875 38.9875]
 [39.2625 39.2625 39.2625 39.2625 39.2625 39.2625 39.2625 39.2625]
 [39.4625 39.4625 39.4625 39.4625 39.4625 39.4625 39.4625 39.4625]
 [39.875  39.875  39.875  39.875  39.875  39.875  39.875  39.875 ]
 [40.45   40.45   40.45   40.45   40.45   40.45   40.45   40.45  ]
 [40.925  40.925  40.925  40.925  40.925  40.925  40.925  40.925 ]
 [41.7    41.7    41.7    41.7    41.7    41.7    41.7    41.7   ]
 [42.3625 42.3625 42.3625 42.3625 42.3625 42.3625 42.3625 42.3625]
 [42.8625 42.8625 42.8625 42.8625 42.8625 42.8625 42.8625 42.8625]
 [43.3125 43.3125 43.3125 43.3125 43.3125 43.3125 43.3125 43.3125]
 [43.8125 43.8125 43.8125 43.8125 43.8125 43.8125 43.8125 43.8125]
 [44.825  44.825  44.825  44.825  44.825  44.825  44.825  44.825 ]
 [45.625  45.625  45.625  45.625  45.625  45.625  45.625  45.625 ]
 [46.45   46.45   46.45   46.45   46.45   46.45   46.45   46.45  ]
 [48.9375 48.9375 48.9375 48.9375 48.9375 48.9375 48.9375 48.9375]
 [56.1875 56.1875 56.1875 56.1875 56.1875 56.1875 56.1875 56.1875]]

Applying Binnig on Age attribute

In [ ]:
val2 = np.array(df1['age'])
print(val2)

[50 31 32 21 33 30 26 29 53 54 30 34 57 59 51 32 31 31 33 32 27 50 41 29
 51 41 43 22 57 38 60 28 22 28 45 33 35 46 27 56 26 37 48 54 40 25 29 22
 31 24 22 26 30 58 42 21 41 31 44 22 21 39 36 24 42 32 38 54 25 27 28 26
 42 23 22 22 41 27 26 24 22 22 36 22 37 27 45 26 43 24 21 34 42 60 21 40
 24 22 23 31 33 22 21 24 27 21 27 37 25 24 24 46 23 25 39 61 38 25 22 21
 25 24 23 69 23 26 30 23 40 62 33 33 30 39 26 31 21 22 29 28 55 38 22 42
 23 21 41 34 65 22 24 37 42 23 43 36 21 23 22 47 36 45 27 21 32 41 22 34
 29 29 36 29 25 23 33 36 42 26 47 37 32 23 21 27 40 41 60 33 31 25 21 40
 36 40 42 29 21 23 26 29 21 28 32 27 55 27 57 52 21 41 25 24 60 24 36 38
 25 32 32 41 21 66 37 61 26 22 26 24 31 24 22 46 22 29 23 26 51 23 32 27
 21 22 22 33 29 49 41 23 34 23 42 27 24 25 44 21 30 25 24 51 34 27 24 63
 35 43 25 24 21 28 38 21 40 21 52 25 29 23 57 22 28 39 37 47 52 51 34 29
 26 33 21 25 31 24 65 28 29 24 46 58 30 25 35 28 37 29 47 21 25 30 41 22
 27 25 43 26 30 29 28 59 31 25 36 43 21 24 30 37 23 37 46 25 41 44 22 26
 44 44 33 41 22 36 22 33 57 49 22 23 26 37 29 30 46 24 21 49 28 44 48 29
 29 63 65 67 30 30 29 21 22 45 25 21 21 25 28 58 22 22 32 35 24 22 21 25
 25 24 35 45 58 28 42 27 21 37 31 25 39 22 25 25 31 55 35 38 41 26 46 25
 39 28 28 25 22 21 21 22 22 37 27 28 26 21 21 21 36 31 25 38 26 43 23 38
 22 29 36 29 41 28 21 31 41 22 24 33 30 25 28 26 22 26 23 23 25 72 24 38
 62 24 51 81 48 26 39 37 34 21 22 25 38 27 28 22 22 50 24 59 29 31 39 63
 35 29 28 23 31 24 21 58 28 67 24 42 33 45 22 66 30 25 55 39 21 28 41 41
 40 38 35 21 21 64 46 21 58 22 24 28 53 51 41 60 25 26 26 45 24 21 21 24
 22 31 22 24 29 31 24 23 46 67 23 32 43 27 56 25 29 37 53 28 50 37 21 25
 66 23 28 37 30 58 42 35 54 28 24 32 27 22 21 46 37 33 39 21 22 22 23 25
 35 21 36 62 21 27 62 42 52 22 41 29 52 25 45 24 44 25 34 22 46 21 38 26
 24 28 30 54 36 21 22 25 27 23 24 36 40 26 50 27 30 23 50 24 28 28 45 21
 21 29 21 21 45 21 34 24 23 22 31 38 48 23 32 28 27 24 50 31 27 30 33 22
 42 23 23 27 28 27 22 25 22 41 51 27 54 22 43 40 40 24 70 40 43 45 49 21
 47 22 68 31 53 25 25 23 22 26 22 27 69 25 22 29 23 46 34 44 23 43 25 43
 31 22 28 26 26 49 52 41 27 28 30 22 45 23 24 40 38 21 32 34 31 56 24 52
 34 21 42 42 45 38 25 22 22 22 34 22 24 22 53 28 21 42 21 42 48 26 22 45
 39 46 27 32 36 50 22 28 25 26 45 37 39 52 26 66 22 43 33 63 27 30 47 23]

In [ ]:
val2.sort()
val2

array([21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21,
       21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22,
       22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22,
       22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22,
       22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22,
       22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23,
       23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23,
       23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23,
       23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24,
       24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24,
       24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25,
       25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,
       25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,
       25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26,
       26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26,
       26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27,
       27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27,
       27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28,
       28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28,
       28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29,
       29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29,
       29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31,
       31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32,
       32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33,
       33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34,
       34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35,
       35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36,
       36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37,
       37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38,
       38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39,
       40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41,
       41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41,
       41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42,
       42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44,
       44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45,
       45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46,
       47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 50,
       50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 51, 52, 52,
       52, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 54, 54, 54, 54, 54, 54,
       55, 55, 55, 55, 56, 56, 56, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58,
       58, 58, 59, 59, 59, 60, 60, 60, 60, 60, 61, 61, 62, 62, 62, 62, 63,
       63, 63, 63, 64, 65, 65, 65, 66, 66, 66, 66, 67, 67, 67, 68, 69, 69,
       70, 72, 81])

Initializing bins

In [ ]:
bin_size_2 = 32
bin2 = np.zeros((int(len(val2)/bin_size_2),bin_size_2))
bin2.shape

(24, 32)

In [ ]:
for i in range(0,len(val2),bin_size_2):
    sum=0
    for j in range(bin_size_2):
        sum = sum + val[j+i]
    avg = sum/bin_size_2
    for j in range(bin_size_2):
        bin2[int(i/bin_size_2), j] = avg
print(bin2.shape)

(24, 32)

In [ ]:
bin2

array([[20.290625, 20.290625, 20.290625, 20.290625, 20.290625, 20.290625,
        20.290625, 20.290625, 20.290625, 20.290625, 20.290625, 20.290625,
        20.290625, 20.290625, 20.290625, 20.290625, 20.290625, 20.290625,
        20.290625, 20.290625, 20.290625, 20.290625, 20.290625, 20.290625,
        20.290625, 20.290625, 20.290625, 20.290625, 20.290625, 20.290625,
        20.290625, 20.290625],
       [22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  ,
        22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  ,
        22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  ,
        22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  ,
        22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  , 22.7375  ,
        22.7375  , 22.7375  ],
       [24.096875, 24.096875, 24.096875, 24.096875, 24.096875, 24.096875,
        24.096875, 24.096875, 24.096875, 24.096875, 24.096875, 24.096875,
        24.096875, 24.096875, 24.096875, 24.096875, 24.096875, 24.096875,
        24.096875, 24.096875, 24.096875, 24.096875, 24.096875, 24.096875,
        24.096875, 24.096875, 24.096875, 24.096875, 24.096875, 24.096875,
        24.096875, 24.096875],
       [25.05    , 25.05    , 25.05    , 25.05    , 25.05    , 25.05    ,
        25.05    , 25.05    , 25.05    , 25.05    , 25.05    , 25.05    ,
        25.05    , 25.05    , 25.05    , 25.05    , 25.05    , 25.05    ,
        25.05    , 25.05    , 25.05    , 25.05    , 25.05    , 25.05    ,
        25.05    , 25.05    , 25.05    , 25.05    , 25.05    , 25.05    ,
        25.05    , 25.05    ],
       [25.971875, 25.971875, 25.971875, 25.971875, 25.971875, 25.971875,
        25.971875, 25.971875, 25.971875, 25.971875, 25.971875, 25.971875,
        25.971875, 25.971875, 25.971875, 25.971875, 25.971875, 25.971875,
        25.971875, 25.971875, 25.971875, 25.971875, 25.971875, 25.971875,
        25.971875, 25.971875, 25.971875, 25.971875, 25.971875, 25.971875,
        25.971875, 25.971875],
       [27.065625, 27.065625, 27.065625, 27.065625, 27.065625, 27.065625,
        27.065625, 27.065625, 27.065625, 27.065625, 27.065625, 27.065625,
        27.065625, 27.065625, 27.065625, 27.065625, 27.065625, 27.065625,
        27.065625, 27.065625, 27.065625, 27.065625, 27.065625, 27.065625,
        27.065625, 27.065625, 27.065625, 27.065625, 27.065625, 27.065625,
        27.065625, 27.065625],
       [27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 ,
        27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 ,
        27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 ,
        27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 ,
        27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 , 27.85625 ,
        27.85625 , 27.85625 ],
       [28.753125, 28.753125, 28.753125, 28.753125, 28.753125, 28.753125,
        28.753125, 28.753125, 28.753125, 28.753125, 28.753125, 28.753125,
        28.753125, 28.753125, 28.753125, 28.753125, 28.753125, 28.753125,
        28.753125, 28.753125, 28.753125, 28.753125, 28.753125, 28.753125,
        28.753125, 28.753125, 28.753125, 28.753125, 28.753125, 28.753125,
        28.753125, 28.753125],
       [29.675   , 29.675   , 29.675   , 29.675   , 29.675   , 29.675   ,
        29.675   , 29.675   , 29.675   , 29.675   , 29.675   , 29.675   ,
        29.675   , 29.675   , 29.675   , 29.675   , 29.675   , 29.675   ,
        29.675   , 29.675   , 29.675   , 29.675   , 29.675   , 29.675   ,
        29.675   , 29.675   , 29.675   , 29.675   , 29.675   , 29.675   ,
        29.675   , 29.675   ],
       [30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 ,
        30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 ,
        30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 ,
        30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 ,
        30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 , 30.11875 ,
        30.11875 , 30.11875 ],
       [30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 ,
        30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 ,
        30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 ,
        30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 ,
        30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 , 30.83125 ,
        30.83125 , 30.83125 ],
       [31.671875, 31.671875, 31.671875, 31.671875, 31.671875, 31.671875,
        31.671875, 31.671875, 31.671875, 31.671875, 31.671875, 31.671875,
        31.671875, 31.671875, 31.671875, 31.671875, 31.671875, 31.671875,
        31.671875, 31.671875, 31.671875, 31.671875, 31.671875, 31.671875,
        31.671875, 31.671875, 31.671875, 31.671875, 31.671875, 31.671875,
        31.671875, 31.671875],
       [32.465625, 32.465625, 32.465625, 32.465625, 32.465625, 32.465625,
        32.465625, 32.465625, 32.465625, 32.465625, 32.465625, 32.465625,
        32.465625, 32.465625, 32.465625, 32.465625, 32.465625, 32.465625,
        32.465625, 32.465625, 32.465625, 32.465625, 32.465625, 32.465625,
        32.465625, 32.465625, 32.465625, 32.465625, 32.465625, 32.465625,
        32.465625, 32.465625],
       [33.084375, 33.084375, 33.084375, 33.084375, 33.084375, 33.084375,
        33.084375, 33.084375, 33.084375, 33.084375, 33.084375, 33.084375,
        33.084375, 33.084375, 33.084375, 33.084375, 33.084375, 33.084375,
        33.084375, 33.084375, 33.084375, 33.084375, 33.084375, 33.084375,
        33.084375, 33.084375, 33.084375, 33.084375, 33.084375, 33.084375,
        33.084375, 33.084375],
       [33.790625, 33.790625, 33.790625, 33.790625, 33.790625, 33.790625,
        33.790625, 33.790625, 33.790625, 33.790625, 33.790625, 33.790625,
        33.790625, 33.790625, 33.790625, 33.790625, 33.790625, 33.790625,
        33.790625, 33.790625, 33.790625, 33.790625, 33.790625, 33.790625,
        33.790625, 33.790625, 33.790625, 33.790625, 33.790625, 33.790625,
        33.790625, 33.790625],
       [34.415625, 34.415625, 34.415625, 34.415625, 34.415625, 34.415625,
        34.415625, 34.415625, 34.415625, 34.415625, 34.415625, 34.415625,
        34.415625, 34.415625, 34.415625, 34.415625, 34.415625, 34.415625,
        34.415625, 34.415625, 34.415625, 34.415625, 34.415625, 34.415625,
        34.415625, 34.415625, 34.415625, 34.415625, 34.415625, 34.415625,
        34.415625, 34.415625],
       [35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  ,
        35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  ,
        35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  ,
        35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  ,
        35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  , 35.1875  ,
        35.1875  , 35.1875  ],
       [36.040625, 36.040625, 36.040625, 36.040625, 36.040625, 36.040625,
        36.040625, 36.040625, 36.040625, 36.040625, 36.040625, 36.040625,
        36.040625, 36.040625, 36.040625, 36.040625, 36.040625, 36.040625,
        36.040625, 36.040625, 36.040625, 36.040625, 36.040625, 36.040625,
        36.040625, 36.040625, 36.040625, 36.040625, 36.040625, 36.040625,
        36.040625, 36.040625],
       [37.096875, 37.096875, 37.096875, 37.096875, 37.096875, 37.096875,
        37.096875, 37.096875, 37.096875, 37.096875, 37.096875, 37.096875,
        37.096875, 37.096875, 37.096875, 37.096875, 37.096875, 37.096875,
        37.096875, 37.096875, 37.096875, 37.096875, 37.096875, 37.096875,
        37.096875, 37.096875, 37.096875, 37.096875, 37.096875, 37.096875,
        37.096875, 37.096875],
       [38.175   , 38.175   , 38.175   , 38.175   , 38.175   , 38.175   ,
        38.175   , 38.175   , 38.175   , 38.175   , 38.175   , 38.175   ,
        38.175   , 38.175   , 38.175   , 38.175   , 38.175   , 38.175   ,
        38.175   , 38.175   , 38.175   , 38.175   , 38.175   , 38.175   ,
        38.175   , 38.175   , 38.175   , 38.175   , 38.175   , 38.175   ,
        38.175   , 38.175   ],
       [39.396875, 39.396875, 39.396875, 39.396875, 39.396875, 39.396875,
        39.396875, 39.396875, 39.396875, 39.396875, 39.396875, 39.396875,
        39.396875, 39.396875, 39.396875, 39.396875, 39.396875, 39.396875,
        39.396875, 39.396875, 39.396875, 39.396875, 39.396875, 39.396875,
        39.396875, 39.396875, 39.396875, 39.396875, 39.396875, 39.396875,
        39.396875, 39.396875],
       [41.359375, 41.359375, 41.359375, 41.359375, 41.359375, 41.359375,
        41.359375, 41.359375, 41.359375, 41.359375, 41.359375, 41.359375,
        41.359375, 41.359375, 41.359375, 41.359375, 41.359375, 41.359375,
        41.359375, 41.359375, 41.359375, 41.359375, 41.359375, 41.359375,
        41.359375, 41.359375, 41.359375, 41.359375, 41.359375, 41.359375,
        41.359375, 41.359375],
       [43.703125, 43.703125, 43.703125, 43.703125, 43.703125, 43.703125,
        43.703125, 43.703125, 43.703125, 43.703125, 43.703125, 43.703125,
        43.703125, 43.703125, 43.703125, 43.703125, 43.703125, 43.703125,
        43.703125, 43.703125, 43.703125, 43.703125, 43.703125, 43.703125,
        43.703125, 43.703125, 43.703125, 43.703125, 43.703125, 43.703125,
        43.703125, 43.703125],
       [49.3     , 49.3     , 49.3     , 49.3     , 49.3     , 49.3     ,
        49.3     , 49.3     , 49.3     , 49.3     , 49.3     , 49.3     ,
        49.3     , 49.3     , 49.3     , 49.3     , 49.3     , 49.3     ,
        49.3     , 49.3     , 49.3     , 49.3     , 49.3     , 49.3     ,
        49.3     , 49.3     , 49.3     , 49.3     , 49.3     , 49.3     ,
        49.3     , 49.3     ]])