# **IMPLIMENTATION OF IMPUATATION TECHNIQUES**

Importing Libraries

In [ ]:
import pandas as pd

Reading csv file

In [ ]:
df = pd.read_csv('Sample_dataset.csv')
print(df)

    Age  Salary
0    22    50.0
1    23    60.0
2    21    55.0
3    22    56.0
4    24     NaN
5    23    70.0
6    25    55.0
7    21    60.0
8    20    70.0
9    25    55.0
10   24    50.0
11   23    60.0
12   24    65.0
13   23    75.0
14   25    70.0
15   21    55.0
16   20    70.0
17   23    55.0
18   21    50.0
19   22     NaN

Handling missing values with mean

In [ ]:
df1 = df.fillna(df.mean().iloc[0])
print(df1)

    Age  Salary
0    22    50.0
1    23    60.0
2    21    55.0
3    22    56.0
4    24    22.6
5    23    70.0
6    25    55.0
7    21    60.0
8    20    70.0
9    25    55.0
10   24    50.0
11   23    60.0
12   24    65.0
13   23    75.0
14   25    70.0
15   21    55.0
16   20    70.0
17   23    55.0
18   21    50.0
19   22    22.6

Handling missing values with User Define constant

In [ ]:
constant = 37.0
df2 = df.fillna(constant)
print(df2)

    Age  Salary
0    22    50.0
1    23    60.0
2    21    55.0
3    22    56.0
4    24    37.0
5    23    70.0
6    25    55.0
7    21    60.0
8    20    70.0
9    25    55.0
10   24    50.0
11   23    60.0
12   24    65.0
13   23    75.0
14   25    70.0
15   21    55.0
16   20    70.0
17   23    55.0
18   21    50.0
19   22    37.0